[DEFAULT]
scheme   = http
address  = localhost
port     = 8080
subpath  =
username = kodi
password = kodi

# living room dot
[amzn1.ask.device.AHCVIMEY273PUE635MSPAZFSHA7IZFU7K6MPXFMXEH26HS3VMRW6Q5CZSMMY6Z4ZWC4EUQUMI2OKOPXT4GA637BSXXY5TDPZ6M2YVWGLRRL5Y2VTFUBHONTG54DOXD6KIMPWYHT33WMPJRKTCYSOEXP6J5WA]
address  = theatre

# kitchen alexa
[amzn1.ask.device.AHCVIMEY273PUE635MSPAZFSHA7LQYKUPKT3WI2IFBCN7O4JDHES3FWIPXIHKWE22HINAZN6CW2KHUIFPQVGYEMZ4FO2WTQTQZHFG3RZLRTMMAXNZSOS5H2K7DHO3EJYWNHJ2QOPWAMP4MHYG4QA5O6CNYBA]
address = theatre

# kids room dot
[amzn1.ask.device.AHCVIMEY273PUE635MSPAZFSHA7LNXVR3RGIBWXVJSJPXYDVOZWFYLR3K5VFJGDZPQP45AI4M4NQYISBP6XZI3RBPYHAOEEPHVRIBZRXUUJR2KRJCL7T5S2AGPGEGRUFRAP2GBHZO6OV7V2AW4FD7SPHS27Q]
address = theatre

# office dot
[amzn1.ask.device.AHCVIMEY273PUE635MSPAZFSHA7BT553PUDZA6KEZPVUS5KUD6CFHSSDCNIEJLHZ6YPGF225TNRRFR53XN3KAWR65P4U7AOSC6SKFOPPZLC5YZ2VQ6LA2I4NW6UD4EC7RLEV4BWTTXGP73WXIV3JSZHGIAWA]
address  = mac-mini

# tap
[amzn1.ask.device.AHCVIMEY273PUE635MSPAZFSHA7ITJVEAQPQ4LZ62UUQDDDIHC5OFXB6B2N3C4GAO5M2TYBQIO3SSDFTLVHSMANMSNB2T6MYWZUSPS5SYMF33KUJTCUPRBL2IA666SY4TT7G4NV4KKNJLNVLYPVPCPWIX4HQ]
address = mac-mini
